In [1]:
import pandas as pd
import numpy as np

# Loading Data

In [2]:
brew = pd.read_csv('data/breweryinfo.csv')
brew.head()

,beer_ratings,beer_reviews,beer_score,beers,brewery_name,brewery_number,brewery_pdev,brewery_ratings,brewery_review,brewery_score,city,country,province
0,8,3,3.39,6,'A Magara,40282,NaN,NaN,NaN,NaN,Nocera Terinese,Italy,NaN
1,"2,969",517,3.84,48,(512) Brewing Company,17863,0%,2,0.0,4.02/5,Austin,United States,Texas
2,176,74,3.65,19,'t Hofbrouwerijke,13160,NaN,NaN,NaN,NaN,Beerzel,Belgium,NaN
3,1,1,3.30,1,"0,5 Pub",53883,0%,0,0.0,0/5,Cahul,Moldova,NaN
4,1,0,4.72,5,0 Mile Brewing Company,42171,NaN,NaN,NaN,NaN,Hummelstown,United States,Pennsylvania

In [3]:
beer = pd.read_csv('data/beerinfo.csv')
beer.head()

C:\Users\wangz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,abv,availability,ba_score,beer_name,beer_number,brewery_name,brewery_number,notes,pdev,ranking,ratings,reviews,style
0,NaN,NaN,0.00,Trilla,172737,'A Magara,40282,NaN,0%,-,0,0,German Hefeweizen
1,NaN,NaN,4.14,Trupija,172735,'A Magara,40282,NaN,0%,-,1,0,Belgian Saison
2,NaN,NaN,2.80,Riulì,273357,'A Magara,40282,NaN,0%,-,2,1,American Pale Ale (APA)
3,NaN,NaN,3.57,Mericana,318408,'A Magara,40282,NaN,0%,-,1,0,American IPA
4,NaN,NaN,3.41,Magarìa,249754,'A Magara,40282,NaN,0%,-,2,1,American Porter

Reading the beer csv file prompted an error on two beers that were not parsed by the spider properly. The first one is [Weird Beard / Farmageddon Suspect Device](https://www.beeradvocate.com/beer/profile/31624/228703/) and the second one is [Interboro / Pipeworks - Mad Fat! Unicorn](https://www.beeradvocate.com/beer/profile/44293/272459/). I have no idea the scraper failed on those two, but we have to move on with our lives. We have to remove those entries.

In [4]:
beer = beer[pd.to_numeric(beer['brewery_number'], errors='coerce').notnull()]
beer['brewery_number'] = pd.to_numeric(beer['brewery_number'])
beer.shape

(274223, 13)

In [5]:
comments = pd.read_csv('data/comment.csv')

C:\Users\wangz\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
comments.head()

,ba_score,beer_number,comment,date,feel,look,overall,rdev,smell,taste,username
0,4.14,172735,NaN,"Dec 24, 2017",NaN,NaN,NaN,NaN,NaN,NaN,Nattesferd
1,2.83,273357,"Dark amber, very hazy, with some small pieces ...","Mar 22, 2017",NaN,NaN,NaN,NaN,NaN,NaN,stcules
2,3.57,318408,NaN,"Dec 24, 2017",NaN,NaN,NaN,NaN,NaN,NaN,Nattesferd
3,3.02,249754,"Black, light brown foam.<br>\nIn the smell coc...","Sep 21, 2016",NaN,NaN,NaN,NaN,NaN,NaN,stcules
4,3.55,380750,NaN,"Nov 12, 2018",NaN,NaN,NaN,NaN,NaN,NaN,desint

In [7]:
comments.shape

(2422484, 11)

Similarly, we'd have to remove comment entries for those two beers

In [8]:
comments = comments[pd.to_numeric(comments['beer_number'], errors='coerce').notnull()]
comments['beer_number'] = pd.to_numeric(comments['beer_number'])

In [9]:
comments.shape

(2422451, 11)

In [10]:
beer = beer[pd.to_numeric(beer['beer_number'], errors='coerce').notnull()]
beer['beer_number'] = pd.to_numeric(beer['beer_number'])

## Taking a look at comment data

In [12]:
comments['comment'].head()

0                                                  NaN
1    Dark amber, very hazy, with some small pieces ...
2                                                  NaN
3    Black, light brown foam.<br>\nIn the smell coc...
4                                                  NaN
Name: comment, dtype: object

#### There are evidently still some html tags left in the comments. We shell remove that

In [17]:
comments['comment'] = comments['comment'].str.replace('<br>\n',' ')

## Subsetting data to Canadian only