In [2]:
import pandas as pd
import numpy as np

# Loading Data

In [5]:
brew = pd.read_csv('data/breweryinfo.csv')
brew.head()

,beer_ratings,beer_reviews,beer_score,beers,brewery_name,brewery_number,brewery_pdev,brewery_ratings,brewery_review,brewery_score,city,country,province
0,8,3,3.39,6,'A Magara,40282,NaN,NaN,NaN,NaN,Nocera Terinese,Italy,NaN
1,"2,969",517,3.84,48,(512) Brewing Company,17863,0%,2,0.0,4.02/5,Austin,United States,Texas
2,176,74,3.65,19,'t Hofbrouwerijke,13160,NaN,NaN,NaN,NaN,Beerzel,Belgium,NaN
3,1,1,3.30,1,"0,5 Pub",53883,0%,0,0.0,0/5,Cahul,Moldova,NaN
4,1,0,4.72,5,0 Mile Brewing Company,42171,NaN,NaN,NaN,NaN,Hummelstown,United States,Pennsylvania

In [15]:
beer = pd.read_csv('data/beerinfo.csv', dtype = ('brewery_number':int))
beer.head()

SyntaxError: invalid syntax (<ipython-input-15-d815431c055a>, line 1)

dtype('O')